@page "/"

<PageTitle>Password-Generator-V2</PageTitle>

<div class="row custom-gap">
    <div class="col-lg-6">
        <V1Password />
    </div>
    <div class="col-lg-6">
        <V2Password />
    </div>
</div>

<hr />

<ul class="services-list list-group">
    @foreach (var i in serviceItems) {
        <li class="row">
            <div class="col-lg-12">
                <ServiceItemComponent Service="@i" />
            </div>
        </li>
    }
</ul>

<hr />

<div class="create-pwd-container">
    <div class="create-pwd-centered">
        <input @bind-value="@newServiceValue" type="text" class="form-control">
        <button @onclick="AddService" class="btn btn-primary" type="button">Add Service</button>
    </div>
</div>

<style>
    .create-pwd-container {
        width: 100%;
    }

    .create-pwd-centered {
        width: 400px;
        margin: 0 auto;
        display: flex;
        gap: 4px;
    }

    .services-list > li:not(:last-child) {
        margin-bottom: 10px;
    }
</style>

@code {

    private string newServiceValue = "";

    private List<ServiceItem> serviceItems;

    protected override void OnInitialized() {
        serviceItems = new List<ServiceItem> {
            new ("Google"),
            new ("Demo"),
        };
    }

    private void AddService() {
        serviceItems.Add(new ServiceItem(newServiceValue));
        newServiceValue = "";
        StateHasChanged();
    }
}