<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h5 class="card-category">Password-Seed</h5>
                <h2 class="card-title">V1 Seed Password</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div style="height: 200px;"></div>
    </div>
</div>

@code {

}
