
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h5 class="card-category">Password-Seed</h5>
                <h2 class="card-title">V2 Seed Password</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div style="height: 200px;">
            <div class="pwd-v2-container">
                <div class="pwd-v2-centered">
                    @foreach (var i in V2Seed) {
                        <EmojiInput SelectedItem="i" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pwd-v2-container
    {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .pwd-v2-centered
    {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    }
</style>

@code {

    private List<EmojiItem?> V2Seed = new List<EmojiItem?>();

    protected override void OnInitialized() {
        for (int i = 0; i < 5; i++) {
            V2Seed.Add(null);
        }

        StateHasChanged();
    }

}
