<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/">Passwort-Generator V2</NavLink>

        <div class="ml-auto">
            <NavLink href="/settings">
                <div class="photo">
                    <img src="images/settings.png" alt="Profile Photo">
                </div>
            </NavLink>
        </div>
    </div>
</nav>



@code {

}
